@font-face {
    font-family: PoppinsBold;
    src: url('../assets/fonts/Poppins-Bold.otf');
  }
  
  @font-face {
    font-family: PoppinsRegular;
    src: url('../assets/fonts/Poppins-Regular.otf');
  }
  @font-face {
    font-family: PoppinsSemiBold;
    src: url('../assets/fonts/Poppins-SemiBold.otf');
  }
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Poppins-Regular;
}
form
{
    width:75vmin;
    height:100%;
    position:absolute;
    transform: translate(-50%,-50%);
    top:55%;
    left:50%;
    padding: 40px 0;
}
input[type="text"]
{
    width:100%;
    padding:15px;
    /*border-color:rgb(241, 235, 235);*/
   /* border-bottom:1px solid rgb(8, 8, 8);*/
    /*outline:none;*/
    border-radius:10px;
    box-shadow: 0 0 10px rgb(243, 144, 15);
    
    font-size:20px;

}
ul
{
    list-style:none;
}
.list
{
    width:100%;
    background-color:white;
    border-radius:10px;
    font-size: 15px;
    
}
.list-items
{
    padding:1px 5px;
}
.list-items:hover{
    background-color:rgb(190, 186, 186);
}